@font-face {
  font-family: "SF Pro Rounded";
  src: url("../fonts/SF-Pro-Rounded-Thin.otf");
  font-weight: 200;
}

@font-face {
  font-family: "SF Pro Rounded";
  src: url("../fonts/SF-Pro-Rounded-Ultralight.otf");
  font-weight: 100;
}

@font-face {
  font-family: "SF Pro Rounded";
  src: url("../fonts/SF-Pro-Rounded-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "SF Pro Rounded";
  src: url("../fonts/SF-Pro-Rounded-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: "SF Pro Rounded";
  src: url("../fonts/SF-Pro-Rounded-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "SF Pro Rounded";
  src: url("../fonts/SF-Pro-Rounded-Semibold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "SF Pro Rounded";
  src: url("../fonts/SF-Pro-Rounded-Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: "SF Pro Rounded";
  src: url("../fonts/SF-Pro-Rounded-Heavy.otf");
  font-weight: 800;
}

@font-face {
  font-family: "SF Pro Rounded";
  src: url("../fonts/SF-Pro-Rounded-Black.otf");
  font-weight: 900;
}

@tailwind base;
@tailwind components;
@tailwind utilities;